name: Rust

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: |
          cargo fmt --check

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Environment
        run: |
          sudo apt-get update
          sudo apt-get install -y bubblewrap
          echo 0 | sudo tee /proc/sys/kernel/apparmor_restrict_unprivileged_userns
          cargo install bindgen-cli
      - name: Run tests
        run: |
          # It is not possible to run all the tests in a single
          # `cargo test` invocation. Specifically, `--all-targets`
          # does not cover doc tests [1].
          #
          # [1]: https://github.com/rust-lang/cargo/issues/6669

          # Run all non-doc tests.
          cargo test \
            --workspace \
            --all-features \
            --verbose \
            --all-targets

          # Run all doc tests.
          cargo test \
            --workspace \
            --all-features \
            --verbose \
            --doc

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Environment
        run: |
          cargo install bindgen-cli
      - name: Clippy
        run: |
          cargo clippy \
            --workspace \
            --all-features \
            --all-targets \
            -- \
            --deny clippy::all \
            --deny clippy::pedantic \
            --deny clippy::nursery

  documentation:
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: "-D warnings"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Environment
        run: |
          cargo install bindgen-cli
      - name: Documentation
        run: |
          cargo doc \
            --workspace \
            --all-features \
            --no-deps

  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          cargo install cargo-readme
          diff README.md <(cargo readme)
